<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<form class="link-form" ng-show="isLoggedIn()">
		<label>Syncs in realtime across clients</label>
		<p class="input-group">
			<input type="text" class="form-control" placeholder="Add a Image-link here." ng-model="newLink">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary" ng-click="addLink()">Add New</button>
			</span>
		</p>
	</form>

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Images:</h1>
			<div class="col-md-4 col-lg-4 col-sm-6" ng-repeat="link in allLinks">
				<img class="col-md-4 col-lg-4 col-sm-6" ng-src="{{link.link}}"></img><button type="button" class="close" ng-click="deleteLink(link)">&times;</button></a></li>
			</div>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
			<p>ShareAnIMG v0.0.0 |
				<a href="https://github.com/OAltr/ShareAnIMG/issues?state=open">Issues</a></p>
	</div>
</footer>
